{% extends "AslanPageBundle::layout.html.twig" %}
{% block style %}
{{ parent() }}
<link rel='stylesheet' type="text/css" href='{{ asset('css/gallery.css') }}'></link>
<link rel='stylesheet' type="text/css" href='{{ asset('js/fullcalendar/fullcalendar.css') }}'></link>
<link rel='stylesheet' type="text/css" href='{{ asset('css/customFullcalendar.css') }}'></link>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script type="text/javascript" src="{{ asset("js/search.js") }}"></script>
<script type="text/javascript" src="{{ asset("js/fullcalendar/fullcalendar.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("js/calendar.js") }}"></script>
{% endblock %}
{% block content %}
<input class="calendar_json" type="hidden" value="{{ afisha_json }}" />
<div id='calendar'></div>
<!--<div class="search"><input type="text" placeholder="Поиск по местам" /></div>-->
<div class="lenta lenta-0">
    {% for af in afisha %}
    {% if af.date|date('U') > ("now" | date('U') - 86400 + ("now" | date('U') % 86400))  and af.date|date('U') < (("now" | date('U') - 86400 + ("now" | date('U') % 86400)) + 86400) %}    
    <div class="cub {% if loop.index == 4 %}cub-last{% endif %}" id="cub{{ loop.index0 }}">
        <h2>
            <a href="#">{{ af.name|raw }}</a>
        </h2>
        <a href="{{ path('AslanPageBundle_afisha_slug', { "slug" : af.slug }) }}">    
            <img src="{{ image('media/pictures/'~af.img).zoomCrop(257, 172) }}" alt="{{ asset('media/pictures/'~af.img) }}" />
            <div class="description">
                {{ af.date|date("d")~' '~months[af.date|date("m")] }}
                <br/>
                {{ af.name|raw }}
            </div>
        </a>
    </div>
    {% endif %}    
    {% endfor %}
</div>
{% endblock %}