{% extends "AslanPageBundle::layout.html.twig" %}
{% block style %}
{{ parent() }}
<link rel='stylesheet' type="text/css" href='{{ asset('css/gallery.css') }}'></link>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script type="text/javascript" src="{{ asset("js/search.js") }}"></script>
{% endblock %}
{% block content %}
<div class="search"><input type="text" placeholder="Поиск по местам" /></div>
<div class="lenta lenta-0">
    {% for album in albums %}
    <div class="cub {% if loop.index == 4 %}cub-last{% endif %}" id="cub{{ loop.index0 }}">
        <h2>
            <a href="#">{{ album.name|raw }}</a>
        </h2>
        <a href="{{ path('AslanPageBundle_album', { "name" : album.slug }) }}">    
            <img src="{{ image('media/pictures/'~album.src).zoomCrop(257, 172) }}" alt="{{ asset('media/pictures/'~album.src) }}" />
            <div class="description">
                {{ album.time|date("d")~' '~months[album.time|date("m")] }}
                <br/>
                {{ album.name|raw }}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}