{% extends "::base.html.twig" %}
{% block script %}
<script>
    var $container = $('#container');
    $container.imagesLoaded( function(){
        $container.masonry({
            itemSelector : '.box',
            isResizable : true,
            columnWidth: function( containerWidth ) {
                return containerWidth / 3;
            }
        });
    });
</script>  
<style type="text/css">
        .text{
            padding:30px 20px 10px 10px;
        }
        #container{
            margin: 30px 0px 30px 32px;
        }
        #simplemodal-container {
            background: #fff;
            text-align:left;
            width:890px;
        }
        .showAll{
            padding:30px 40px 40px 40px;
        }
        .blogTitle{
            font-size: 21px;
            font-weight: normal;
            margin-bottom: 20px;
            margin-left: -1px;
            font-family: Arial;
            text-decoration: none;
            color:#888;
        }
        #simplemodal-container p{
            margin:10px 0 0 0;
        }
</style>
{% endblock %}
{% block text %}
{% if blogs is defined %}
<div id="container">
{% set i = 0 %}
{% for item  in blogs %} 
     <div class="box" id="box{{ i }}" onclick='showInfoBlog({{ item.id }}, {{ i }});'>
        <img src="{{ asset('media/pictures/small') }}{{ item.img }}" width="100%" height="auto" alt="" />
        <p class="description" style="float:left;">{{ item.name }}</p>
    </div>  
    {% set i = i + 1 %}
{% endfor %}    
</div>
{% endif %}
{% endblock %}