{% extends "::base.html.twig" %}	
                {% block script %}
<style type="text/css">
        .row-fluid{
            padding:0;
            width:100%;
        } 
    </style>
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="{{ asset('fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="{{ asset('fancybox/source/jquery.fancybox.css?v=2.1.3') }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ asset('fancybox/source/jquery.fancybox.pack.js?v=2.1.3') }}"></script>

    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="{{ asset('fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5') }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5') }}"></script>
    <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.5') }}"></script>

    <link rel="stylesheet" href="{{ asset('fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7') }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7') }}"></script>	
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.8.18.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.imgpreload.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.ulslide.js') }}"></script>
        {% include "AslanPageBundle:Js:popup.js.twig" %}  
    <script type="text/javascript" src="{{ asset('js/gallery.js') }}"></script>
                {% endblock %}
{% block text %}              
    <div id="container" class="content">
             {% for column in columns %}
            <div class = "columns" id = "column{{ loop.index0 }}" >
                 {% set key = loop.index0 %}
                 {% for img in column %}
                    <div class = "box" id="box{{ img.id }}">
                        <a id='c{{ key }}' class = "blurImageContainer" href="#" onclick= "collections({{ img.id }}, '{{ img.src }}', '{{ images }}'); return false;">
                            <img class = "lazy blurImage" data-original="{{ image('media/pictures/'~img.src).resize(587, null, "0x000000").jpeg() }}" src= "" width = "374px" />
                        </a>
                    </div>
                 {% endfor %}
                </div>        
             {% endfor %}    
            </div>       
{% endblock %}
