{% extends "AslanPageBundle::layout.html.twig" %}
{% block style %}
{{ parent() }}
<link rel='stylesheet' type="text/css" href='{{ asset('css/gallery.css') }}'></link>
<link rel='stylesheet' type="text/css" href='{{ asset('css/kategorii.css') }}'></link>
{% endblock %}
{% block javascript %}
{{ parent() }}
{% endblock %}
{% block content %}
    {% for cat in category %}
    <div class="lenta lenta-m">
    <div class="head">
        <a href="{{ path('AslanPageBundle_place') }}">{{ cat.name }}</a>
    </div>
    {% for af in cat.afisha %}
    <div class="cub {% if loop.index == 4 %}cub-last{% endif %}" id="cub{{ loop.index0 }}">
        <h2>
            <a href="#">{{ af.name|raw }}</a>
        </h2>
        <a href="{{ path('AslanPageBundle_album', { "name" : af.slug }) }}">    
            <img src="{{ image('media/pictures/'~af.img).zoomCrop(257, 172) }}" alt="{{ asset('media/pictures/'~af.img) }}" />
            <div class="description">
                {{ af.date|date("d")~' '~months[af.date|date("m")] }}
                <br/>
                {{ af.name|raw }}
            </div>
        </a>
    </div>
    {% endfor %}
    </div>
    {% endfor %}    
{% endblock %}