{% extends "AslanPageBundle::layout.html.twig" %}
{% block style %}
{{ parent() }}
<link rel='stylesheet' type="text/css" href='{{ asset('css/flexslider.css') }}'></link>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script type="text/javascript" src="{{ asset("js/jquery.flexslider-min.js") }}"></script>
<script type="text/javascript" src="{{ asset("js/flexslider.js") }}"></script>
{% endblock %}
{% block slider %}
{{ parent() }}
            <div class="flexslider">
              <ul class="slides">
                {% for slider in sliders %}
                <li>
                  <img src="{{ image("media/pictures/"~slider.src).zoomCrop(1077, 492).jpeg() }}" />
                </li>
                {% endfor %}             
              </ul>
            </div>
{% endblock %}
{% block content %}
{{ parent() }}
{% endblock %}
{% block lenta %}
{{ parent() }}
<div class="lenta">
    <div class="head">
        <a href="{{ path('AslanPageBundle_afisha') }}">анонсы мероприятий</a>
    </div>
    {% for af in afisha|slice(0,4) %}
    <div class="cub {% if loop.index == 4 %}cub-last{% endif %}">
        <a href="{{ path('AslanPageBundle_afisha_slug', { "slug" : af.slug }) }}">
            <img src="{{ image('media/pictures/'~af.img).zoomCrop(257, 172) }}" alt="{{ asset('media/pictures/'~af.img) }}" />
            <div class="description" style="background-color: {{ af.color }};">
                {{ af.name|raw }}
            </div>
            <div class="date" style="background-color: {{ af.color }};">
                {{ af.date|date("d")~' '~months[af.date|date("m")] }}
            </div>        
        </a>
    </div>
    {% endfor %}
</div>
<div class="lenta">
    <div class="head">
        <a href="{{ path("AslanPageBundle_albums") }}">ФОТООТЧЕТЫ</a>
    </div>
    {% for album in albums|slice(0,4) %}
    <div class="cub {% if loop.index == 4 %}cub-last{% endif %}">
        <a href="{{ path('AslanPageBundle_album', { "name" : album.slug }) }}">
            <img src="{{ image('media/pictures/'~album.src).zoomCrop(257, 172) }}" alt="{{ asset('media/pictures/'~album.src) }}" />
            <div class="description">
                {{ album.time|date("d")~' '~months[album.time|date("m")] }}
                <br/>
                {{ album.name|raw }}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<div class="lenta">
    <div class="head">
        <a href="{{ path('AslanPageBundle_place') }}">места</a>
    </div>
    {% for place in places|slice(0,4) %}
    <div class="cub {% if loop.index == 4 %}cub-last{% endif %}">
        <a href="{{ path('AslanPageBundle_place_slug', { "slug" : place.slug }) }}">
            <img src="{{ image('media/pictures/'~place.img).zoomCrop(257, 172) }}" alt="{{ asset('media/pictures/'~place.img) }}" />
            <div class="description">
                {{ place.head|raw }}
            </div>
        </a>
    </div>
    {% endfor %}    
</div>
{% endblock %}