{% extends "::base.html.twig" %}
{% block script %}
<script>
$(function(){
	{% set j = 0 %}
	{% for item in secondmenu %}
				{% set j = j + 1 %}
				{% if j != men %}
				$('#li{{ j }}').mouseover(function(){
					$('#ul{{ men }}').css({"display":"none"});
				});	
				$('#li{{ j }}').mouseout(function(){
					$('#ul{{ men }}').css({"display":"block"});
				});		
				{% endif %}
				{% endfor %}	
}
);
</script>				
						
<style type="text/css">
	.kitchenEx{
		font-size:14pt;
		height:88px;
		float:right;
		width:250px;
		margin-right:15px;
		top:0;
	}
#galleri{
	text-align:left;
	height:360px;
	width:960px;
	margin-left:30px;
	overflow:hidden;
	margin-top:50px;
}
#galleri img{
	margin-top:0px;
	float:left;
	min-height:360px;
}
.text{
	padding:10px 40px 0px 20px;
	margin-bottom:70px;
	float:left;
	width:675px;
	word-wrap: break-word;
	min-height:565px;
}
.hint{
	background:#303030;
	color:#fff;
	font-family: "Trebuchet MS", sans-serif, Verdana, Arial, Helvetica;	
	text-align:left;
	height:100%;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	font-size:12pt;
	font-weight:bold;
	word-wrap:break;
	top:0;
	width:230px;
	position:relative;
	float:right;
	z-index:2;
}
.bottomTable{
	margin:-20px 0px 0 14px;
	padding-left:15px;
	min-width:950px;
}
.pic{
	width:215px;
	height:172px;
	padding-bottom:0px;
	padding-right:14px;
}
.bottomm{
	width:230px;
	height:33px;	
	margin-top:-33px;
	color:#fff;
	line-height:33px;
	font-size:14pt;
	font-weight:bold;
	text-align:center;
	background:url({{ asset('media/img/bottom.png') }}) top no-repeat;
	position:relative;
	z-index:2;
	font-family: "Trebuchet MS", sans-serif, Verdana, Arial, Helvetica;	
}
.podThirdMenu{
	background:#161616;
	width:990px;
	height:50px;
	position:fixed;
	z-index:5;
}
.bottomm:hover{
	cursor:pointer;
}
#li{{ men }} ul{
  	margin:40px 0 0 0;
 	display:block;
	position:absolute;
	background:none;
	text-align:left;
	float:left;
	line-height:30px;
	height:60px;
}
@-moz-document url-prefix(){
	#li{{ men }} ul{
  		margin:20px 0 0 0;		
	}
}
#li{{ men }} ul li{
  	padding:0;
  	float:left;
}
#li{{ men }} ul #li{{ id }} a{
  	color: #FC0;
}		
</style>
{% endblock %}	
{% block centerlayer %}
<div class="podThirdMenu">
</div>
<div id="galleri">
			<div class="hint">
{% if page %}			
{{ page.name }}
<br/>
{{ page.description | raw }}
<input type="button" style="background:url({{ asset('media/img/zakaz.png') }}); bottom:20px; right:17px; position:absolute; width:218px; height:46px; cursor:pointer; border:0;">
			</div>
			<div class="mainImg">
					<img src="{{ asset('media/pictures/') }}{{ page.img }}" style="top:-{{ size.top }}px; left:-{{ size.left }}px;" width="{{ size.width }}" height="{{ size.height }}" alt="{{ asset('media/pictures') }}{{ page.img }}" />
			</div>
			</div>
			<div class="ct">
				<div class="text">
				{{ page.text | raw }}			
				</div>
				<div class="kitchenEx">
					<div class='kitchenImgEx'>
		<ul>
    {% set i = 0 %}
    {% set k = 0 %}
	<table align="right" cellspacing="0" class="leftTable">
	{% for item in random %}
	<tr>
	{% set k = k + 1 %}
	<td>
	{% for iten in siz_ %}
	{% if iten.id == item.id %}
	<div style=" width:230px; height:175px; overflow:hidden;">
	<a href='{{ path('AslanPageBundle_page', {"number" : item.id, "men" : men}) }}' id='a{{ k }}' style='text-decoration:none;'> 
	<img style="margin-top:-{{ iten.top }}px; margin-left:-{{ iten.left }}px;" src='{{ asset("media/pictures/") }}{{ item.img }}' width='{{ iten.width }}px' height='{{ iten.height }}px' alt='{{ asset("media/pictures/") }}{{ item.img }}' />
	</a>
	</div>
	<div class='bottomm' onclick='location.href=document.getElementById("a{{ k }}").href'>
	{{ item.name }}
	</div>	
	{% endif %}
	{% endfor %}
	</td>
	</tr>
	{% endfor %}
	</table>
		</ul>
		</div>				
				</div>
			</div>
			<div class="kitchen1">

			</div>
{% endif %}		
    {% set i = 0 %}
    {% set k = 0 %}
	<table align="left" cellspacing="0" class="bottomTable">
	<tr>
	{% for item in random2 %}
	{% set k = k + 1 %}
	<td class="pic">
	{% for iten in siz2_ %}
	{% if iten.id == item.id %}
	<div style=" width:230px; height:172px; overflow:hidden;">
	<a href='{{ path('AslanPageBundle_page', {"number" : item.id, "men" : men}) }}' id='a{{ k }}' style='text-decoration:none;'> 
	<img style="margin-top:-{{ iten.top }}px; margin-left:-{{ iten.left }}px;" src='{{ asset("media/pictures/") }}{{ item.img }}' width='{{ iten.width }}px' height='{{ iten.height }}px' alt='{{ asset("media/pictures/") }}{{ item.img }}' />
	</a>
	</div>
	<div class='bottomm' onclick='location.href=document.getElementById("a{{ k }}").href'>
	{{ item.name }}
	</div>	
	{% endif %}
	{% endfor %}
	</td>
	{% endfor %}
	{% if k < 4 %}
	{% if k < 3 %}
	<td class="pic">
	</td>
	{% endif %}
	<td class="pic">
	</td>
	{% endif %}
	</tr>
	</table>	
{% endblock %}