{% extends "AslanPageBundle::layout.html.twig" %}
{% block style %}
{{ parent() }}
<link rel='stylesheet' type="text/css" href='{{ asset('css/gallery.css') }}'></link>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script type="text/javascript" src="{{ asset("js/search.js") }}"></script>
<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>  
<script>
    ymaps.ready(init);
    var myMap,
            myPlacemark;
    function init() {
        /*
         * Выставочные салоны «ЕВРОПОЛЫ»
         */
        var evro = [
            {% for map in place %}
            ['<h4>{{ map.getHead() }}</h4><p>{{ map.getName() }}</p>{% if map.getPhone() != '' %}<p>{{ map.getPhone() }}</p>{% endif %}', {{ map.getX() }}, {{ map.getY() }}],
            {% endfor %}          
        ];
        myMap = new ymaps.Map("map", {
            center: [55.781463, 37.507993],
            zoom: 10
        });
        iconImageHreff = '';
        for (i = 0; i < evro.length; i++) {
            if(evro[i][1] == 55.743755){
                iconImageHreff = '{{ asset('media/img/map_hofparkett_icon_main.png') }}';
            }
            else{
                iconImageHreff = '{{ asset('media/img/map_hofparkett_icon.png') }}';   
            }
            myPlacemark = new ymaps.Placemark([evro[i][1], evro[i][2]], {
                content: evro[i][0],
                balloonContent: evro[i][0]
            }, {
                //iconImageHref: iconImageHreff,
                iconImageSize: [30, 42],
                iconImageOffset: [-3, -42]
            });
                    myMap.geoObjects.add(myPlacemark);
        }
       
        myMap.controls.add(
                new ymaps.control.ZoomControl()
                );
        myMap.controls.add('typeSelector');
        myMap.controls.add(new GeoExpand(group2));
    }
    </script>
{% endblock %}
{% block content %}
<div id="map" style="width: 100%; height: 380px"></div>
<br/>
<div class="search"><input type="text" placeholder="Поиск по местам" /></div>
<div class="lenta lenta-0">
    {% for af in place %}
    <div class="cub {% if loop.index == 4 %}cub-last{% endif %}" id="cub{{ loop.index0 }}">
        <h2>
            <a href="#">{{ af.name|raw }}</a>
        </h2>
        <a href="{{ path('AslanPageBundle_place_slug', { "slug" : af.slug }) }}">    
            <img src="{{ image('media/pictures/'~af.img).zoomCrop(257, 172) }}" alt="{{ asset('media/pictures/'~af.img) }}" />
            <div class="description">
                {{ af.name|raw }}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}