{% extends "::base.html.twig" %}
{% block script %}
	<style type="text/css">
	.centerLayer td{
	width:230px;
	height:172px;
	padding-bottom:10px;
	padding-right:0px;
	
}
.centerLayer img{
	position:relative;
	border:0;
	z-index:1;
}
.centerLayer table{
	margin:15px 0px 0 14px;
}
.podThirdMenu{
	background:#161616;
	width:990px;
	height:50px;
	position:fixed;
	z-index:5;
}
.bottomm{
	width:230px;
	height:33px;	
	margin-top:-33px;
	color:#fff;
	line-height:33px;
	font-size:14pt;
	font-weight:bold;
	text-align:center;
	background:url({{ asset('media/img/bottom.png') }}) top no-repeat;
	position:relative;
	z-index:2;
	font-family: "Trebuchet MS", sans-serif, Verdana, Arial, Helvetica;	
}
.bottomm:hover{
	cursor:pointer;
}			
</style>		
{% endblock %}	
{% block centerlayer %}
    {% set i = 0 %}
    {% set k = 0 %}
	<table align="left" cellspacing="14">
	{% for item in page %}
	{% if i == 0 %}
	<tr>
	{% endif %}
	{% set i = i + 1 %}
	{% set k = k + 1 %}
	<td>
	{% for iten in siz %}
	{% if iten.id == item.id %}
	<div style=" width:230px; height:172px; overflow:hidden;">
	<a href='{{ path('AslanPageBundle_page', {"number" : item.id, "men" : item.thirdmenu.secondmenu.id}) }}' id='a{{ k }}' style='text-decoration:none;'> 
	<img style="margin-top:-{{ iten.top }}px; margin-left:-{{ iten.left }}px;" src='{{ asset("media/pictures/") }}{{ item.img }}' width='{{ iten.width }}px' height='{{ iten.height }}px' alt='{{ asset("media/pictures/") }}{{ item.img }}' />
	</a>
	</div>
	<div class='bottomm' onclick='location.href=document.getElementById("a{{ k }}").href'>
	{{ item.name }}
	</div>	
	{% endif %}
	{% endfor %}
	</td>
	{% if i == 4 %}
	{% set i = 0 %}
	</tr>
	{% endif %}
	{% endfor %}
	</table>
{% endblock %}