{% extends 'AslanPageBundle::layout.html.twig' %}

{% from 'AslanPageBundle:Category:macros.html.twig' import grid %}

{% block body %}
    <!-- Module Header -->
    <div class="wrap-header level-block level38" data-video="{{ asset('bundles/aslanpage/uploads/siektor-komforta/moduleHeader/shutterstock_v4531841.mp4') }}">
        <div class="shadow"></div>
        <div class="header">
            <!-- Top -->
            <div class="top">
                <div class="hint-left">
                    <div class="table">
                        <div class="table-cell">
                            <div class="text">
                                <a href="{{ path('AslanPageBundle_home') }}"><img src="{{ asset('bundles/aslanpage/images/logo.png') }}" alt=""/></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hint-right">
                    +7(965)160-11-66

                </div>
            </div>
            <!-- end Top -->

            <!-- Center Block -->
            <div class="wrap-center-block">
                <div class="center-block">
                    <h1>Компания "Сектор Комфорта"</h1>
                    <h2>Мы создаем уют в доме!</h2>
                </div>
            </div>
            <!-- end Center Block -->

            <!-- Arrow Down -->
            <a href="#" class="arrow arrow-blink" data-current-level="level38"></a>
            <!-- end Arrow Down -->
        </div>
    </div>

    <!-- Module Square -->
    {% if specialCategories|length > 0 %}
        <div class="wrap-square level-block level92" id="special_categories">
            <div class="square">

                <!-- Squares Block -->
                {{ grid(specialCategories) }}
                <!-- end Squares Block -->

            </div>
        </div>
    {% endif %}
    <!-- end Module Square -->


    <!-- Form Contact -->
    {% include 'AslanPageBundle:Contact:index.html.twig' %}
    <!-- end Form Contact -->

    <!-- end Module Header -->

    <!-- Module Line -->
    <div class="wrap-line level-block level39">
        <div class="shadow"></div>
        <div class="line">

            <!-- Center Block -->
            <div class="wrap-center-block">
                <div class="center-block">
                    <div class="text-block">
                        <p><span style="color:#000000">Мой дом - моя крепость!&nbsp;</span></p>

                        <p><span style="color:#000000">Каждый стремится обустроить свое жилище, чтобы в нем было комфортно проводить время. Не удивительно, ведь в доме происходит большая часть нашей жизни. В доме мы спим, кушаем, отдыхаем, в доме растут наши дети. В своем доме мы можем чувствовать себя в безопасности. Это наша маленькая вселенная, наш маленький мир, где мы хозяева.</span></p>

                        <p><span style="color:#000000">Всем хочется, чтобы дома было уютно и красиво. Наши дизайнеры, как художники, помогут вам расписать стены яркими красками, сделать облик вашего жилища уникальным, неповторимым.</span></p>

                        <p><span style="color:#000000">Мы сделаем вам кухню, с которой не захочется уходить, на ней будет приятно готовить и кушать вместе, всей семьей.</span></p>

                        <p><span style="color:#000000">Мы сделаем детскую такую же яркую, как счастливое детство, где ваши дети будут играть и постигать знания, которые пригодятся им в будущем.</span></p>

                        <p><span style="color:#000000">Мы сделаем спальню, в которой не захочется просыпаться, с красивой большой кроватью, большим зеркалом.</span></p>

                        <p><span style="color:#000000">Мы сделаем вам ваш маленький мир, о котором вы мечтали когда-то в детстве.</span></p>

                        <p><span style="color:#000000">Мы &quot;Сектор Комфорта&quot; рады работать с вами и для вас.</span></p>
                    </div>
                </div>
            </div>
            <!-- end Center Block -->

        </div>
    </div>

    <!-- end Module Line -->

    <!-- Module Square -->
    {% if categories|length > 0 %}
    <div class="wrap-square level-block level92" id="categories">
        <div class="square">

            <!-- Squares Block -->
            {{ grid(categories) }}
            <!-- end Squares Block -->

        </div>
    </div>
    {% endif %}
    <!-- end Module Square -->
    {{ parent() }}
{% endblock %}