{% extends 'AslanPageBundle::layout.html.twig' %}

{% from 'AslanPageBundle:Category:macros.html.twig' import grid %}

{% block body %}
    <!-- Module Header -->
    <div class="wrap-header level-block level38" data-video="{{ asset('bundles/aslanpage/uploads/siektor-komforta/moduleHeader/shutterstock_v4531841.mp4') }}">
        <div class="shadow"></div>
        <div class="header">
            <!-- Top -->
            <div class="top">
                <div class="hint-left">
                    <div class="table">
                        <div class="table-cell">
                            <div class="text">
                                Сектор Комфорта
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hint-right">
                    +7(965)160-11-66

                </div>
            </div>
            <!-- end Top -->

            <!-- Center Block -->
            <div class="wrap-center-block">
                <div class="center-block">
                    <h1>Компания "Сектор Комфорта"</h1>
                    <h2>Мы создаем уют в доме!</h2>
                </div>
            </div>
            <!-- end Center Block -->

            <!-- Arrow Down -->
            <a href="#" class="arrow arrow-blink" data-current-level="level38"></a>
            <!-- end Arrow Down -->
        </div>
    </div>

    <!-- Form Contact -->
    {% include 'AslanPageBundle:Contact:index.html.twig' %}
    <!-- end Form Contact -->

    <!-- end Module Header -->

    <!-- Module Line -->
    <div class="wrap-line level-block level39">
        <div class="shadow"></div>
        <div class="line">

            <!-- Center Block -->
            <div class="wrap-center-block">
                <div class="center-block">
                    <div class="text-block">
                        <p style="text-align:center"><span style="color:#000000">Мой дом - моя крепость!&nbsp;</span></p>

                        <p style="text-align:center"><span style="color:#000000">Каждый стремится обустроить свое жилище, чтобы в нем было комфортно проводить время. Не удивительно, ведь в доме происходит большая часть нашей жизни. В доме мы спим, кушаем, отдыхаем, в доме растут наши дети. В своем доме мы можем чувствовать себя в безопасности. Это наша маленькая вселенная, наш маленький мир, где мы хозяева.</span></p>

                        <p style="text-align:center"><span style="color:#000000">Всем хочется, чтобы дома было уютно и красиво. Наши дизайнеры, как художники, помогут вам расписать стены яркими красками, сделать облик вашего жилища уникальным, неповторимым.</span></p>

                        <p style="text-align:center"><span style="color:#000000">Мы сделаем вам кухню, с которой не захочется уходить, на ней будет приятно готовить и кушать вместе, всей семьей.</span></p>

                        <p style="text-align:center"><span style="color:#000000">Мы сделаем детскую такую же яркую, как счастливое детство, где ваши дети будут играть и постигать знания, которые пригодятся им в будущем.</span></p>

                        <p style="text-align:center"><span style="color:#000000">Мы сделаем спальню, в которой не захочется просыпаться, с красивой большой кроватью, большим зеркалом.</span></p>

                        <p style="text-align:center"><span style="color:#000000">Мы сделаем вам ваш маленький мир, о котором вы мечтали когда-то в детстве.</span></p>

                        <p style="text-align:center"><span style="color:#000000">Мы &quot;Сектор Комфорта&quot; рады работать с вами и для вас.</span></p>
                    </div>
                </div>
            </div>
            <!-- end Center Block -->

        </div>
    </div>

    <!-- end Module Line -->

    <!-- Module Square -->
    {% if categories|length > 0 %}
    <div class="wrap-square level-block level92" id="categories">
        <div class="square">

            <!-- Squares Block -->
            {{ grid(categories) }}
            <!-- end Squares Block -->

        </div>
    </div>
    {% endif %}
    <!-- end Module Square -->

    <!-- Module Line -->
    <div class="wrap-line level-block level106">
        <div class="shadow"></div>
        <div class="line">

            <!-- Center Block -->
            <div class="wrap-center-block">
                <div class="center-block">
                    <div class="text-block">
                        <h1 style="text-align:center"><span style="color:#000000">Дизайн проекты</span></h1>

                        <p>&nbsp;</p>

                        <p><span style="font-size:16px"><span style="color:#000000"><span style="font-family:arial,sans-serif">Мы предлагаем такую услугу, как составление дизайн-проекта. Наши дизайнеры могут воплотить в дизайн-проекте любые ваши желания, а если вы ещё не знаете чего хотите, то в этом нет ничего страшного, проект также будет выполнен на высочайшем уровне. А в случае, если вас что-то не устроит, то это будет обсуждаться, и в итоге вы получите то, что придется вам по вкусу. У нас индивидуальный подход к каждому нашему клиенту, мы стараемся и делаем так, чтобы все были довольны результатом работы.</span></span></span></p>

                        {% if specialCategory %}
                        <p class="special-category">
                            <a href="{{ path('AslanPageBundle_page', {slug: specialCategory.slug}) }}">Ещё</a>
                        </p>
                        {% endif %}

                    </div>
                </div>
            </div>
            <!-- end Center Block -->

        </div>
    </div>
    <!-- end Module Line -->

    <!-- Module Map -->
    <div class="wrap-comment level-block level107">
        <div class="wrap-head">
            <div class="head">
                <p style="text-align:center"><span style="color:#FFFFFF"><span style="font-size:20px">Отзывы</span></span></p>
            </div>
        </div>
        <div class="comment">

            <!-- Comments Block -->
            <ul data-slick='{ "autoplay": true, "autoplaySpeed": 2000, "infinite": true, "slidesToShow": 1, "slidesToScroll": 1}'>
                <li>
                    <div class="wrap_wrap">
                        <div class="wrap">
                            <div class="inner">
                                <div class="icon"><img src="{{ asset('bundles/aslanpage/cache/7/0/1/7/7/701774a20f3aa3f5a7a351932c130475ecee1ab7.jpeg') }}" alt=""/></div>
                                <div class="text"><p style="text-align:center"><span style="font-size:16px"><span style="color:rgb(34, 34, 34); font-family:arial,sans-serif">&quot;Искали мебель на заказ.Нашли через интернет &quot;Сектор Комфорта&quot;, созвонились,проконсультировались.Цена предварительная устроила, договорились о замере. Ребята приехали замерили,обговорили наполнение шкафов,материалы. Сначала заказали на пробу в одной комнате. Потом заказали сразу во всех остальных. Все устроило.&quot;</span></span></p></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrap_wrap">
                        <div class="wrap">
                            <div class="inner">
                                <div class="icon"><img src="{{ asset('bundles/aslanpage/cache/2/4/c/4/9/24c492a3c5ce10373db95e96ac82ac469dfe0377.jpeg') }}" alt=""/></div>
                                <div class="text"><p style="text-align:center"><span style="font-size:16px"><span style="color:rgb(34, 34, 34); font-family:arial,sans-serif">&quot;Искал оптимальные цены на мебель в классическом стиле. Выслал дизайн-прект,мне все посчитали. Заказал 2 встроенных шкафа из МДФ под классику. Через 3 месяца дозаказали гардеробную. Очень красиво и качественно. Планирую как-нибудь заказать библиотеку в таком же стиле!&quot;</span></span></p></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>s
                    <div class="wrap_wrap">
                        <div class="wrap">
                            <div class="inner">
                                <div class="icon"><img src="{{ asset('bundles/aslanpage/cache/0/6/1/e/4/061e41dcd22fc5162bd5677496a629c7e2d79980.jpeg') }}" alt=""/></div>
                                <div class="text"><p style="text-align:center"><span style="font-size:16px"><span style="color:rgb(34, 34, 34); font-family:arial,sans-serif">&quot;Сектор Комфорта&quot; порекомендовали знакомые. Заказали всю встроенную мебель и детскую! Остались довольны! Не понадобилось бегать по салонам, думать- все сами посоветовали, подобрали дизайн.&quot;</span></span></p></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrap_wrap">
                        <div class="wrap">
                            <div class="inner">
                                <div class="icon"><img src="{{ asset('bundles/aslanpage/cache/8/5/1/0/1/8510166c93b9a3dcac85f85f1c6079cea8c1649b.jpeg') }}" alt=""/></div>
                                <div class="text"><p style="text-align:center"><span style="font-size:16px"><span style="color:rgb(34, 34, 34); font-family:arial,sans-serif">&quot;Салон красоты. Заказывали большие зеркала в классических &nbsp; багетных рамах, зеркальную мозаику в холле, ресепшн, маленькую кухоньку для сотрудников. Оптимальное соотношение &quot;цена-качество&quot;. Достаточно быстро сделали!&quot;</span></span></p></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrap_wrap">
                        <div class="wrap">
                            <div class="inner">
                                <div class="icon"><img src="{{ asset('bundles/aslanpage/cache/4/e/6/1/7/4e617bd277f7a4ff45c4203322125655d465d793.jpeg') }}" alt=""/></div>
                                <div class="text"><p style="text-align:center"><span style="font-size:16px"><span style="color:rgb(34, 34, 34); font-family:arial,sans-serif">&quot;Мы вышли на &quot;Сектор&quot;, через дизайнера, который делал&nbsp;проект по ремонту квартиры. Удобно, то что делают т кухни т шкафы-купе, гардеробные и декоративные мелочи: стеклянные полки в нишу, зеркала, витраж с подсветкой на потолок. Нам все понравилось!!!&quot;</span></span></p></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- end Squares Block -->

        </div>
    </div>

    <!-- end Module Map -->

    {{ parent() }}
{% endblock %}