<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru" dir="ltr">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
	{% include 'AslanAdminBundle:Js:admin.js.twig' %}
	{% include 'AslanAdminBundle:Default:admin.css.twig' %}
	{% block style %}{% endblock %}	
                <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
                <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
	{% block script %}{% endblock %}
        </head>
        <body onload="">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container" >
                        <div class="nav-collapse">
                            <ul class="nav">
                                <!--<li onclick="window.location.href = '{{ path('AslanAdminBundle_admin_homepage') }}';" {% if menu == 1 %} class="active"{% endif %}><a href="{{ path('AslanAdminBundle_admin_homepage') }}">Текстовые страницы</a></li>-->
                                <!--<li onclick="window.location.href = '{{ path('AslanAdminBundle_admin_img') }}';" {% if menu == 2 %} class="active"{% endif %}><a href="{{ path('AslanAdminBundle_admin_img') }}">Фотоотчёты</a></li>-->			        
                                <!--<li onclick="window.location.href = '{{ path('AslanAdminBundle_admin_category') }}';" {% if menu == 8 %} class="active"{% endif %}><a href="{{ path('AslanAdminBundle_admin_category') }}">Категории</a></li>-->
                                <li onclick="window.location.href = '{{ path('AslanAdminBundle_admin_place') }}';" {% if menu == 4 %} class="active"{% endif %}><a href="{{ path('AslanAdminBundle_admin_place') }}">Меню</a></li>
                                <!--<li onclick="window.location.href = '{{ path('AslanAdminBundle_admin_afisha') }}';" {% if menu == 9 %} class="active"{% endif %}><a href="{{ path('AslanAdminBundle_admin_afisha') }}">Афиша</a></li>-->
                                <!--<li onclick="window.location.href = '{{ path('AslanBackgroundBundle_background') }}';" {% if menu == 5 %} class="active"{% endif %}><a href="{{ path('AslanBackgroundBundle_background') }}">Фон</a></li>-->
                                <!--<li onclick="window.location.href = '{{ path('AslanAdminBundle_admin_img') }}';" {% if menu == 6 %} class="active"{% endif %}><a href="{{ path('AslanAdminBundle_admin_img') }}">Жизнь</a></li>-->
                                <!--<li onclick="window.location.href = '{{ path('AslanAdminBundle_admin_slider') }}';" {% if menu == 7 %} class="active"{% endif %}><a href="{{ path('AslanAdminBundle_admin_slider') }}">Слайдер</a></li>-->
                                <!--<li onclick="window.location.href = '{{ path('AslanAdminBundle_admin_baner') }}';" {% if menu == 10 %} class="active"{% endif %}><a href="{{ path('AslanAdminBundle_admin_baner') }}">Банеры</a></li>-->
                                <!--<li onclick="window.location.href = '{{ path('AslanAdminBundle_admin_video') }}';" {% if menu == 3 %} class="active"{% endif %}><a href="{{ path('AslanAdminBundle_admin_video') }}">Мультики</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>	
            <div class="container-fluid">

      	{% block content %}{% endblock %}	

            </div>

        </body>
    </html>
