{% extends "::admin.base.html.twig" %}
{% block script %}

<script type="text/javascript" src="{{ asset("js/ckeditor/ckeditor.js") }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.masonry.js') }}"></script> 
<script src="http://malsup.github.com/jquery.form.js"></script>
{% include "AslanAdminBundle:Js:jquery.simplemodal-1.4.2.js.twig" %}
<script type="text/javascript">
    globalId = -1;
    function reloadCKEDITOR() {
        for (var instanceName in CKEDITOR.instances)
            CKEDITOR.remove(CKEDITOR.instances[instanceName]);
        CKEDITOR.replace('names[text]');
    }
    function rout(href) {
        $.get(href, {}, function(data) {
            var options = {
                success: showResponse,
                clearForm: false
            };
            $("#pageSend").ajaxForm(options);
        });
    }
    function routEdit(href) {
        $.get(href, {}, function(data) {
            var options = {
                success: showResponseEdit,
                clearForm: false
            };
            $("#pageSend").ajaxForm(options);
        });
    }
    function rout2(href) {
        $.get(href, {}, function(data) {
            var options = {
                success: showResponse2,
                clearForm: false
            };
            $("#pageImg").ajaxForm(options);
        });
    }
    function ajaxRout() {
        rout('{{ path('AslanAdminBundle_admin_placeForm') }}');
    }
    function ajaxRoutEdit() {
        routEdit('{{ path('AslanAdminBundle_admin_placeForm') }}');
    }
    function ajaxRout2() {
        rout2('{{ path('AslanAdminBundle_admin_pageimgnew') }}');
    }
    function showResponse(responseText, statusText, xhr, $form) {
        text = $.parseJSON(responseText);
        $container = $('#container');
        $container.prepend('<div class="box" style="background:#000; background-repeat:no-repeat; background-size:225px 225px; display:compact;" id="' + text['id'] + '"><div id="c' + text['id'] + '" onclick="deleteParkett(id);" class="closeButton"></div><div id="c' + text['id'] + '" onclick="editParkett(id);" class="editButton"></div><div id="cc' + text['id'] + '" onclick="parkettImg(id);" style="width:205px; height:205px; padding:5px; cursor:pointer; display: table-cell;vertical-align: middle; "><h2>' + text['head'] + '</h2></div></div>');
        $container.masonry('reload');
        $.modal.close();
    }
    function showResponseEdit(responseText, statusText, xhr, $form) {
        text = $.parseJSON(responseText);
        $("#cc"+text['id']).find("h2").text(text['head']);
        $.modal.close();
    }
    function showResponse2(responseText, statusText, xhr, $form) {
        text = $.parseJSON(responseText);
        if (globalId > -1) {
            if (text['src'] != '') {
                $('#' + globalId).css("background-image", "url({{ asset('media/pictures/') }}" + text['src'] + ")");
            }
        }
        else {
            $container = $('#container');
            for(i = 0; i < text.length; i++){
                $container.prepend('<div class="box" style="background:url({{ asset('media/pictures/') }}' + text[i]['src'] + '); background-repeat:no-repeat; background-size:225px 225px; display:compact;" id="' + text[i]['id'] + '"><div id="c' + text[i]['id'] + '" onclick="deleteParkett(id);" class="closeButton"></div><div id="cc' + text[i]['id'] + '" onclick="parkettImg(id);" style="width:205px; height:205px; padding:5px; cursor:pointer; display: table-cell;vertical-align: middle; "></div></div>');
            }
            $container.masonry('reload');
        }
        $.modal.close();
    }
    function addParkett(id) {
        globalId = -1;
        $.get('{{ path('AslanAdminBundle_admin_placeForm') }}', {}, function(data) {
            $.modal(data, {maxHeight: null, minWidth: 800, minHeight: 800, onShow: function() {
                    ajaxRout();
                }});
            $('#simplemodal-data').html($('.forms'));
            $(".header").attr("required", false)
            reloadCKEDITOR();
        });
    }
    function editParkett(id) {
        id = id.slice(1, id.length);
        globalId = id;
        $.post('{{ path('AslanAdminBundle_admin_idplace') }}', {"id": id}, function(data) {
            $.get('{{ path('AslanAdminBundle_admin_placeForm') }}', {}, function(data2) {
                $.modal(data2, {maxHeight: null, minWidth: 800, minHeight: 800, onShow: function() {
                        ajaxRoutEdit();
                    }});
                $('#simplemodal-data').html($('.forms'));
                //alert(data);
                page = $.parseJSON(data);
                $('.id').val(page[0][0]);
                $('#names_name').text(page[0][1]);
                $('#names_text').val(page[0][2]);
                reloadCKEDITOR();
            });
        });
    }
    function deleteParkett(id) {
        idDiv = $("#" + id).parent().attr('id');
        $("#" + idDiv).remove();
        $container = $('#container');
        $container.masonry('reload');
        $.post("{{ path('AslanAdminBundle_admin_removeplace') }}", {"id": idDiv});
    }
    function parkettImg(id) {
        $('#backCollection').unbind('click');
        $('#backCollection').click(function() {
            if (globalId2 == -1) {
                window.location.reload();
            }
            page(globalId2);
        });
        $.post("{{ path('AslanAdminBundle_admin_parkettImg') }}", {"id": id}, function(data) {
            pages = $.parseJSON(data);
            $container = $('#container');
            $container.html('');
            $container.prepend('<div class="box" id="adding"><div onclick="addImg(' + id + ');" style="width:205px; height:205px; padding:5px; cursor:pointer; display: table-cell;vertical-align: middle;"><h2>Добавить фото</h2></div></div>');
            for (i = 0; i < pages.length; i++) {
                $container.prepend('<div class="box" style="background:url({{ asset('media/pictures/') }}' + pages[i]['src'] + '); background-repeat:no-repeat; background-size:225px 225px; display:compact;" id="' + pages[i]['id'] + '"><div id="c' + pages[i]['id'] + '" onclick="deleteImg(id);" class="closeButton"></div><div id="cc' + pages[i]['id'] + '" onclick="" style="width:205px; height:205px; padding:5px; cursor:pointer; display: table-cell;vertical-align: middle; "></div></div>');
            }
            $container.masonry('reload');
        });
    }
    function deleteImg(id) {
        idDiv = $("#" + id).parent().attr('id');
        $("#" + idDiv).remove();
        $container = $('#container');
        $container.masonry('reload');
        $.post("{{ path('AslanAdminBundle_admin_removepageimg') }}", {"id": idDiv}, function(data) {
        });
    }
    function addImg(id) {
        $.modal("<div class='form-actions'><form action='{{ path('AslanAdminBundle_admin_pageimgnew') }}' id='pageImg' method='post' enctype='multipart/form-data'><input type='text' name='idImg'  value='" + id + "' style='display:none;'><label class='control-label'>Выберите файлы</label><input name='files[]' type='file' multiple='true'/><br/><br/><input type='submit' class='btn btn-primary' value='Сохранить'/><input type='button' value='Отмена' class='simplemodal-close btn back'/></form></div>", {onShow: function() {
                ajaxRout2();
            }});
    }
    </script>
{% endblock %}
{% block content %}
    <div id="container" class="form-horizontal">
{% for item in secondmenuall %}
            <div class="box" style="background:#000; background-repeat:no-repeat; background-size:225px 225px; display:compact;" id="{{ item.id }}">
                <div id='c{{ item.id }}' onclick="deleteParkett(id);" class="closeButton"></div>
                <div id='c{{ item.id }}' onclick="editParkett(id);" class="editButton"></div>
                <div id="cc{{ item.id }}" onclick="parkettImg({{ item.id }});"  style="width:205px; height:205px; padding:5px; cursor:pointer; display: table-cell;
                     vertical-align: middle; overflow:hidden;">
                         <h2>{{ item.head|raw }}</h2>
                     </div>
                </div>
{% endfor %}
                <div class="box" id="adding">
                    <div onclick="addParkett();" style="width:205px; height:205px; padding:5px; cursor:pointer; display: table-cell;
                         vertical-align: middle;">
                             <h2>Добавить</h2>
                         </div>
                    </div>
                </div>
                <script>
    var $container = $('#container');
    $container.masonry({
        itemSelector: '.box',
        isAnimated: true
    });
                    </script>
{% endblock %}