<script>
    function learnMoreRemove() {
        $(".learnMore").remove();
    }
    function showAbout() {
        $.modal.close();
        $('#simplemodal-container').css({'height': 'auto', 'padding': '0'});
        $.modal('<div class="showAll" style="height:500px;">{{ about | raw|e('js') }}</div>', {overlayClose: true, autoResize: true, opacity: 100, autoPosition: true});
    }    
    function showContacts() {
        $.modal.close();
        $('#simplemodal-container').css({'height': 'auto', 'padding': '0'});
        $.modal('<div class="showAll" style="height:500px;">{{ contacts | raw }}</div>', {overlayClose: true, autoResize: true, opacity: 100, autoPosition: true});
    }
    function showInfoBlog(id, num) {
        $.post('{{ path('AslanPageBundle_blog') }}', {'id': id}, function(data) {
            blog = $.parseJSON(data);
            $.modal.close();
            $.modal("<div class='showAll'><div class='blogTitle'>" + blog.name + "</div>" + blog.text + "</div><div class='left'></div><div class='right'></div>", {minHeight: 630, overlayClose: true, opacity: 100, autoResize: false, autoPosition: false, onShow: function() {
                    $('#simplemodal-container img').each(function(index, element) {
                        width = $(element).width();
                        height = $(element).height();
                        $(element).css({
                            "width": "auto",
                            "height": "auto"
                        });
                        $(element).load(function() {
                            if ($(element).width() > 810) {
                                $(element).css({
                                    "width": "100%",
                                    "height": "auto"
                                });
                            }
                            else {
                                $(element).css({
                                    "width": width,
                                    "height": height
                                });
                            }
                        });
                    });
                    $('#simplemodal-container').css({'height': 'auto', 'margin': '40px 0 0 -445px', 'left': '50%', 'top': '0', 'position': 'absolute', 'min-height': $(document).height() - 80});
                    if ($('#simplemodal-container').width() > $(document).width() - 140) {
                        $('#simplemodal-container').css({'width': $(document).width() - 240, 'margin-left': -($(document).width() - 240) / 2});
                    }
                    else {
                        if ($('#simplemodal-container').width() < 890)
                            $('#simplemodal-container').css({'width': $(document).width() - 240, 'margin-left': -($(document).width() - 240) / 2});
                    }
                    $(window).resize(function() {
                        if ($('#simplemodal-container').width() > $(document).width() - 140) {
                            $('#simplemodal-container').css({'width': $(document).width() - 140, 'margin-left': -($(document).width() - 140) / 2});
                        }
                        else {
                            if ($('#simplemodal-container').width() < 890)
                                $('#simplemodal-container').css({'width': $(document).width() - 140, 'margin-left': -($(document).width() - 140) / 2});
                        }
                    });
                }});
            idNew = num - 1;
            if (typeof($("#box" + idNew).attr('id')) === 'undefined') {
                $(".left").css({"display": "none"});
            }
            else {
                $(".left").css({"display": "block"});
            }
            idNew = num + 1;
            if (typeof($("#box" + idNew).attr('id')) === 'undefined') {
                $(".right").css({"display": "none"});
            }
            else {
                $(".right").css({"display": "block"});
            }
            $(".left").click(function() {
                idNew = num - 1;
                if (typeof($("#box" + idNew).attr('id')) !== 'undefined') {
                    $("#box" + idNew).click();
                }
            });
            $(".right").click(function() {
                idNew = num + 1;
                if (typeof($("#box" + idNew).attr('id')) !== 'undefined') {
                    $("#box" + idNew).click();
                }
            });
            $('body').keydown(function(event) {
                if (event.which == 37) {
                    $('.left').click();
                }
                if (event.which == 39) {
                    $('.right').click();
                }
            });
            $(".left").css({
                "background": 'url({{ asset('img/gallery-left.png') }}) 50% 50% no-repeat',
                "width": "100px",
                "height": "100%",
                "left": "0",
                "top": "0",
                "position": "fixed",
                "z-index": "10000",
                "cursor": "pointer"
            });
            $(".right").css({
                "background": 'url({{ asset('img/gallery-right.png') }}) 50% 50% no-repeat',
                "width": "100px",
                "height": "100%",
                "right": "0",
                "top": "0",
                "position": "fixed",
                "z-index": "10000",
                "cursor": "pointer"
            });
        });
    }

    function showInfoVideo(id, num) {
        $.post('{{ path('AslanPageBundle_videos', {}) }}', {'id': id}, function(data) {
            blog = $.parseJSON(data);
            $.modal.close();
            $.modal("<div class='showAll'>" + blog.video + "</div><div class='left'></div><div class='right'></div>", {autoResize: true, opacity: 100, autoPosition: true, overlayClose: true, onShow: function() {
                    $(function() {
                        width = $('iframe').width();
                        height = $('iframe').height();
                        kf = width / height;
                        $('iframe').css({width: '100%'});
                        $('iframe').css({height: $('iframe').width() / kf + 'px'});
                    });
                    $(window).resize(function() {
                        $('#simplemodal-container').css({'height': 'auto'});
                        $('#simplemodal-container').css({'top': '50%', 'margin-top': -$('#simplemodal-container').height() / 2 + 'px', 'position': 'fixed', 'background': 'none'});
                    });
                    $('#simplemodal-container').css({'height': 'auto'});
                    $('#simplemodal-container').css({'top': '50%', 'margin-top': -$('#simplemodal-container').height() / 2 + 'px', 'position': 'fixed', 'background': 'none'});
                }});
            idNew = num - 1;
            if (typeof($("#box" + idNew).attr('id')) === 'undefined') {
                $(".left").css({"display": "none"});
            }
            else {
                $(".left").css({"display": "block"});
            }
            idNew = num + 1;
            if (typeof($("#box" + idNew).attr('id')) === 'undefined') {
                $(".right").css({"display": "none"});
            }
            else {
                $(".right").css({"display": "block"});
            }
            $(".left").click(function() {
                idNew = num - 1;
                if (typeof($("#box" + idNew).attr('id')) !== 'undefined') {
                    $("#box" + idNew).click();
                }
            });
            $(".right").click(function() {
                idNew = num + 1;
                if (typeof($("#box" + idNew).attr('id')) !== 'undefined') {
                    $("#box" + idNew).click();
                }
            });
            $('body').keydown(function(event) {
                if (event.which == 37) {
                    $('.left').click();
                }
                if (event.which == 39) {
                    $('.right').click();
                }
            });
            $(".left").css({
                "background": 'url({{ asset('img/gallery-left.png') }}) 50% 50% no-repeat',
                "width": "100px",
                "height": "100%",
                "left": "0",
                "top": "50px",
                "position": "fixed",
                "z-index": "10000",
                "cursor": "pointer"
            });
            $(".right").css({
                "background": 'url({{ asset('img/gallery-right.png') }}) 50% 50% no-repeat',
                "width": "100px",
                "height": "100%",
                "right": "0",
                "top": "50px",
                "position": "fixed",
                "z-index": "10000",
                "cursor": "pointer"
            });
        });
    }
    </script>