{% macro grid(items) %}
    {% if items|length > 0 %}
        <ul>
        {% for item in items %}
            {% if item.preview.img is defined %}
            {% set img = image('media/pictures/'~item.preview.img) %}
            <li>
                <a href="{{ path('AslanPageBundle_page', {slug: item.slug}) }}" class="wrap_wrap">
                    <div class="wrap">
                        <img src="{{ img.zoomCrop(500, 500) }}" alt=""/>
                    </div>
                    <div class="title"><p style="text-align:center"><span style="font-size:18px"><span style="color:#000000">{{ item.head }}</span></span></p></div>
                </a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro one(item) %}
    <div class="wrap-category">
        <div class="panel panel-description">
            <h1>{{ item.head }}</h1>
            {{ item.page|raw }}
        </div>
        {% if item.pageimgs|length > 0 %}
            <div class="wrap-square level-block level92 pictures">
                <div class="square">
                    <ul>
                        {% for img in item.pageimgs %}
                            {% set picture = image('media/pictures/'~img.img) %}
                            <li>
                                <a href="{{ asset('media/pictures/'~img.img) }}" data-width="{{ picture.width() }}" data-height="{{ picture.height() }}" class="wrap_wrap">
                                    <div class="wrap" style="background-image: url('{{ picture.zoomCrop(500, 500) }}'); background-size: cover; background-attachment: scroll; background-color: #000;">
                                        <div class="inner">
                                            <div class="shadow"></div>
                                            <div class="blur"></div>
                                            <img src="{{ picture.zoomCrop(500, 500) }}" alt=""/>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endmacro %}